#app {
  margin: 5vw 10vw;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  list-style: none;
}
@-webkit-keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes bnf {
  0% {
    opacity: 1;
    right: 0;
  }
  50% {
    opacity: 0.5;
    right: 8px;
  }
  to {
    opacity: 0.7;
    right: 0;
  }
}
@keyframes bnf {
  0% {
    opacity: 1;
    right: 0;
  }
  50% {
    opacity: 0.5;
    right: 8px;
  }
  to {
    opacity: 0.7;
    right: 0;
  }
}
#page-contents {
  padding: 2px 6vw 2px 0;
}
#side_nav {
  position: fixed;
  margin-right: 10vw;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  max-width: 20px;
  z-index: 2;
}
#side_nav a {
  padding: 20px 20px 20px 5px;
  display: block;
  font-weight: 700;
  color: #8f8e8e;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  text-decoration: none;
  z-index: 3;
  letter-spacing: 1.7px;
}
#side_nav a:first-child {
  -webkit-animation: sideNavItems 2s linear;
  animation: sideNavItems 2s linear;
}
#side_nav a:nth-child(2) {
  -webkit-animation: sideNavItems 1.5s linear;
  animation: sideNavItems 1.5s linear;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#side_nav a:nth-child(3) {
  -webkit-animation: sideNavItems 1s ease-out;
  animation: sideNavItems 1s ease-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes sideNavItems {
  0% {
    transform: translateX(300%);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes sideNavItems {
  0% {
    transform: translateX(300%);
  }
  60% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
#side_nav li:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-15%, -50%);
  color: #f5fffa;
  font-size: 1.8em;
  pointer-events: none;
  opacity: 0;
  transition: 1s ease-in-out;
  white-space: nowrap;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-weight: 700;
}
#side_nav li.router-link-exact-active:before {
  opacity: 0.07;
  font-size: 420%;
  letter-spacing: 20px;
}
#side_nav li.router-link-exact-active a {
  color: #ff8d0b;
  letter-spacing: 5px;
  font-weight: 700;
  transition: 1s;
  scale: 1.5;
}
@media only screen and (max-width: 786px) {
  #app {
    margin-left: 6vw;
    padding-top: 20vw;
  }
  #side_nav {
    margin-right: 6vw;
  }
  #side_nav a {
    font-size: 70%;
    margin-right: 0;
  }
  #side_nav li.router-link-exact-active:before {
    font-size: 200%;
  }
}
body {
  background-color: #151035;
}
.home_photo img {
  position: absolute;
  height: 100vh;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(1.8px);
  filter: blur(1.8px);
  -webkit-clip-path: polygon(
    60% 0,
    90% 0,
    70% 80%,
    80% 100%,
    75% 100%,
    68% 86%,
    64% 100%,
    40% 100%
  );
  clip-path: polygon(
    60% 0,
    90% 0,
    70% 80%,
    80% 100%,
    75% 100%,
    68% 86%,
    64% 100%,
    40% 100%
  );
  z-index: -10;
  overflow-x: hidden;
  -webkit-animation: back-img 2s ease-in-out, image-blip 5s ease-in-out infinite;
  animation: back-img 2s ease-in-out, image-blip 5s ease-in-out infinite;
}
@-webkit-keyframes back-img {
  0% {
    -webkit-clip-path: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
    clip-path: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
  }
  to {
    -webkit-clip-path: polygon(60% 0, 90% 0, 65% 100%, 40% 100%);
    clip-path: polygon(60% 0, 90% 0, 65% 100%, 40% 100%);
  }
}
@keyframes back-img {
  0% {
    -webkit-clip-path: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
    clip-path: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
  }
  to {
    -webkit-clip-path: polygon(60% 0, 90% 0, 65% 100%, 40% 100%);
    clip-path: polygon(60% 0, 90% 0, 65% 100%, 40% 100%);
  }
}
@-webkit-keyframes image-blip {
  0% {
    margin-right: 0;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  50% {
    margin-right: 8px;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    margin-right: 0;
  }
}
@keyframes image-blip {
  0% {
    margin-right: 0;
    -webkit-filter: blur(0);
    filter: blur(0);
  }
  50% {
    margin-right: 8px;
  }
  to {
    -webkit-filter: blur(0);
    filter: blur(0);
    margin-right: 0;
  }
}
.social_link {
  padding-top: 20%;
  justify-self: start;
}
.social_link ul {
  display: flex;
  flex-direction: row;
}
.social_link ul li {
  list-style: none;
  position: relative;
  display: block;
  color: #fffdfd;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #4e4a4a;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.social_link ul li:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
.social_link ul li:first-child:before {
  background: #4267b2;
}
.social_link ul li:nth-child(2):before {
  background: #1da1f2;
}
.social_link ul li:nth-child(3):before {
  background: #e1306c;
}
.social_link ul li:nth-child(4):before {
  background: #2867b2;
}
.social_link ul li:nth-child(5):before {
  background: #000;
}
.social_link ul li:hover:before {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transform: scale(1.2);
}
.social_link ul li:first-child:hover:before {
  box-shadow: 0 0 15px #4267b2;
}
.social_link ul li:nth-child(2):hover:before {
  box-shadow: 0 0 15px #1da1f2;
}
.social_link ul li:nth-child(3):hover:before {
  box-shadow: 0 0 15px #e1306c;
}
.social_link ul li:nth-child(4):hover:before {
  box-shadow: 0 0 15px #2867b2;
}
.social_link ul li:nth-child(5):hover:before {
  box-shadow: 0 0 15px #000;
}
ul li:first-child:hover {
  color: #456cba;
  box-shadow: 0 0 15px #4267b2;
  text-shadow: 0 0 15px #4267b2;
}
ul li:nth-child(2):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}
ul li:nth-child(3):hover {
  color: #e23670;
  box-shadow: 0 0 15px #e1306c;
  text-shadow: 0 0 15px #e1306c;
}
ul li:nth-child(4):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867b2;
  text-shadow: 0 0 15px #2867b2;
}
ul li:nth-child(5):hover {
  color: #000;
  box-shadow: 0 0 15px #131313;
  text-shadow: 0 0 15px rgba(119, 116, 116, 0.82);
}
@media only screen and (max-width: 900px) {
  .home_photo img {
    right: 0;
    overflow: hidden;
  }
  .intro_name {
    transform: scale(0.6);
    grid-row: 1/3;
  }
  .social_link.social_link[data-v-fae5bece] {
    padding-top: 0;
  }
  .social_link ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .social_link ul li {
    transform: scale(0.5);
  }
}
.home[data-v-c7dd21be] {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  justify-items: left;
}
.intro_name[data-v-c7dd21be] {
  justify-self: start;
  text-align: right;
  -webkit-animation: bounce-data-v-c7dd21be 3s linear;
  animation: bounce-data-v-c7dd21be 3s linear;
  padding-top: 3vw;
}
.intro_name .l_name[data-v-c7dd21be] {
  -webkit-animation: lname-data-v-c7dd21be 3s linear;
  animation: lname-data-v-c7dd21be 3s linear;
}
#f_name path[data-v-c7dd21be] {
  stroke: #ff4500;
  stroke-dasharray: 370;
  -webkit-animation: fname-data-v-c7dd21be 3s linear;
  animation: fname-data-v-c7dd21be 3s linear;
}
@-webkit-keyframes fname-data-v-c7dd21be {
  0% {
    stroke-dashoffset: 370;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fname-data-v-c7dd21be {
  0% {
    stroke-dashoffset: 370;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes lname-data-v-c7dd21be {
  0% {
    opacity: 0;
  }
  45% {
    color: #ff4500;
  }
  50% {
    opacity: 0.65;
    color: #ff4500;
  }
  to {
    color: #fff;
    opacity: 1;
  }
}
@keyframes lname-data-v-c7dd21be {
  0% {
    opacity: 0;
  }
  45% {
    color: #ff4500;
  }
  50% {
    opacity: 0.65;
    color: #ff4500;
  }
  to {
    color: #fff;
    opacity: 1;
  }
}
@-webkit-keyframes bounce-data-v-c7dd21be {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce-data-v-c7dd21be {
  0%,
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@media only screen and (max-width: 900px) {
  .home[data-v-c7dd21be] {
    grid-template-columns: 1fr;
  }
  .home_photo img[data-v-c7dd21be] {
    right: 0;
    overflow: hidden;
  }
}
